.card {
  max-width: 340px;
  width: 100%;
  position: relative;
  @media (max-width: 578px) {
    max-width: 170px;
  }
  @media (max-width: 400px) {
    max-width: 161px;
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }
  &__img {
    img {
      max-width: 340px;
      max-height: 480px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      @media (max-width: 567px) {
        max-width: unset;
        max-height: 240px;
      }
    }
  }
  &__desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__name {
    font-weight: 700;
    font-size: 18px;
    color: var(--whiteColor);

    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    box-orient: vertical;
  }
  &__img {
    height: 480px;
    position: relative;
    &:hover {
      .card__hovered {
        pointer-events: unset;
        opacity: 1;
      }
    }
    @media (max-width: 567px) {
      height: 240px;
    }
  }
  &__genre {
    font-weight: 400;
    font-size: 15px;
    color: var(--yellowColor);
  }
  &__hovered {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: all 0.4s;
    a {
      z-index: 2;
    }
    &::after {
      content: "";
      background-color: var(--blueColor);
      height: 100%;
      width: 100%;
      z-index: 1;
      opacity: 0.7;
      position: absolute;
    }
  }
  &__rating {
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--greenColor);
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: var(--whiteColor);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 2;
    @media (max-width: 768px) {
      font-size: 14px;
      padding: 5px 7px;
      top: 0;
      right: 0;
    }
  }
}
