.roles {
  &__body {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  &__bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__card {
    display: block;
    max-width: 248px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
  }
  &__img {
    img {
      width: 250px;
      height: 250px;
      object-fit: cover;
      border-radius: 10px;
      object-position: top;
    }
  }
  &__name {
    font-weight: 700;
    font-size: 22px;
    color: var(--whiteColor);
  }
}
