.search {
  &__btn {
    background-color: var(--whiteColor);
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 12px;
    display: block;
    cursor: pointer;
    transition: all 0.4s ease;
    @media (max-width: 1440px) {
      padding: 5px 8px;
    }
    &:hover {
      background-color: var(--yellowColor);
      border: 1px solid var(--yellowColor);
    }
    svg {
      width: 20px;
      height: 20px;
      fill: var(--blueColor);
      stroke-width: 0.3px;
    }
  }
}
