.similar {
  &__body {
    display: flex;
    flex-direction: column;
    gap: 60px;
    @media (max-width: 567px) {
      gap: 30px;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
}
