.burger {
  &__btn {
    background-color: var(--whiteColor);
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 5px 8px;
    cursor: pointer;

    svg {
      width: 20px;
      height: 20px;  
      fill: var(--blueColor);
    }
  }
}
