@import "./reset.scss";
@import "./fonts.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Qanelas", sans-serif;
  font-weight: 500;
  font-size: 14px;
  background-color: var(--main-bg);
  box-sizing: border-box;
  color: var(--whiteColor);
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
  transition: all 0.4s;
}

body {
  --main-bg: #1e2538;
  --whiteColor: #fff;
  --blueColor: #3657cb;
  --textColor: #1a1919;
  --borderColor: #d3d8dc;
  --secondaryTextColor: #060e1e;
  --greyColor: #686868;
  --yellowColor: #f2f60f;
  --lightGrayColor: rgba(227, 230, 240, 0.72);
  --blackColor: #000;
  --lightBlueColor: rgba(54, 87, 203, 0.3);
  --greenColor: #4bcb36;
  --secondaryBlueColor: #191e2e;
}
