.cardBtn {
  box-shadow: 0 0 10px 0 rgba(55, 94, 232, 0.4);
  background: #fff;
  padding: 20px 40px;
  border-radius: 10px;

  font-weight: 700;
  font-size: 18px;
  line-height: 167%;
  color: var(--blueColor);

  @media (max-width: 1440px) {
    padding: 10px 30px;
    font-size: 14px;
  }
  @media (max-width: 567px) {
    padding: 6px 13px;
    font-size: 11px;
  }
}
